@charset "UTF-8";

/**
 * Основные стили
 **/

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.container {
	min-width: 320px;
  max-width: 100%;
  padding: 0 0;
  box-sizing: border-box;
  margin: 0 auto;
}

.wrap {
  min-width: 320px;
  max-width: 1200px;
  padding: 0 10px;
  box-sizing: border-box;
  margin: 0 auto;
  outline: 1px solid blue;
}

p {
  color: black;
}
