.page__footer {
	background-color: white;
	padding: 20px 0;
}

.page__footer p {
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	line-height: 22px;
	color: #212121;
	font-weight: 700;	
}
